[Unit]
Description=Dispatcher Web ComfyUI IPadapter LatentUpscale
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
Environment="com_camenduru_mongodb_uri=mongodb://127.0.0.1:27017/web"
Environment="com_camenduru_worker_uri=http://127.0.0.1:1112"
Environment="com_camenduru_discord_token=MT"
Environment="com_camenduru_job_type=comfyui-ipadapter-latentupscale"
Environment="com_camenduru_job_source=WEB"
Environment="com_camenduru_server_port=1114"
Environment="com_camenduru_web_uri=http://localhost:8080"
Environment="com_camenduru_web_token=web_token"
WorkingDirectory=/content/com.camenduru/dispatcher
ExecStart=/bin/bash -c 'python dispatcher.py'
Restart=always
[Install]
WantedBy=multi-user.target
